:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray: hsl(0, 0%, 42%);
    --Black: hsl(0, 0%, 7%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    /* it is centered becoz of justify-contnent and align-items set to center */
    width: 300px;
    height: 400px;
    border: 1px var(--Black) solid;
    box-shadow: 10px 10px var(--Black); /* right, bottom, blur */ /* check out drop-shadow */
    border-radius: 10px;
    padding: 15px;
    margin: 50px;
}

.tag {
    border-radius: 6px;
    color: var(--Black);
    background-color: var(--Yellow);
    padding: 5px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}


.pub-date {
    margin: 10px 0px 10px 0px; /* right,top,left,botton */
    color: var(--Gray);
}

.content {
    color: var(--Gray);
}