:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray: hsl(0, 0%, 42%);
    --Black: hsl(0, 0%, 7%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    background-color: var(--Yellow);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    /* it is centered becoz of justify-contnent and align-items set to center */
    width: 350px;
    height: 450px;
    border: 1px var(--Black) solid;
    box-shadow: 8px 8px var(--Black); /* right, bottom, blur */ /* check out drop-shadow */
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    background-color: var(--White);
}

.tag {
    border-radius: 6px;
    color: var(--Black);
    background-color: var(--Yellow);
    padding: 5px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: small;
}


.pub-date {
    margin: 10px 0px 10px 0px; /* right,top,left,botton */
    color: var(--Gray);
    font-weight: 600;
    font-size: small;
}

.title {
    font-weight: 700;
    font-size: large;
    padding: 10px 0px 10px 0px;
}

.content {
    color: var(--Gray);
    font-weight: 500;
    font-size: 0.9em;
    line-height: 20px;
}

.pic {
    height: 60px;
    width: auto;
    padding: 15px 15px 15px 0px;
}

.author {
    /* does 'display' property not work on images? */
    
    color: var(--Black);
    font-weight: 600;
    font-size: small;
    /* relative to what?....itself */
    position: relative;
    left: 40px;
    bottom: 40px;
}
